workflows/n8n-youtube-auto-update-docker.json
[
  {
    "updatedAt": "2026-06-03T06:24:18.000Z",
    "createdAt": "2026-05-27T16:43:03.884Z",
    "id": "5BQIeZaLxyjhQGxX",
    "name": "Auto update AI YouTube collection Docker",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e0c1a6f9-a3ad-4bda-a0d8-4ba2eda42e89",
                "leftValue": "={{ $json.stdout }}",
                "rightValue": "UPDATED",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "1770dd90-d9d5-42e3-9ea5-175691745d65",
        "name": "Was Updated?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -320,
          144
        ]
      },
      {
        "parameters": {
          "url": "https://ai-youtube-collection.vercel.app/",
          "options": {}
        },
        "id": "4961978d-6ef8-4602-9628-9ee28596926c",
        "name": "Check Website",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          0,
          32
        ]
      },
      {
        "parameters": {
          "jsCode": "return [{ json: { status: 'No new playlist changes detected.' } }];"
        },
        "id": "c3815761-0848-484a-b753-8ca218e95338",
        "name": "No Changes",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          240
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://youtube-updater:5000/trigger-update",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -544,
          144
        ],
        "id": "305d789a-ed5a-405e-9cf7-fb4b0850950a",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 12
              }
            ]
          }
        },
        "id": "a06fae00-d69b-4a59-b3cf-171e9366ab00",
        "name": "Every 12 Hours",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -800,
          144
        ]
      }
    ],
    "connections": {
      "Was Updated?": {
        "main": [
          [
            {
              "node": "Check Website",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Changes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Was Updated?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Every 12 Hours": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "timeSavedMode": "fixed",
      "timezone": "Asia/Taipei",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": {
      "node:Every 6 Hours": {
        "recurrenceRules": []
      },
      "node:Every 12 Hours": {
        "recurrenceRules": [
          12
        ]
      }
    },
    "meta": null,
    "pinData": {},
    "versionId": "068d8c42-aa9e-463d-9b2a-d197b46abc31",
    "activeVersionId": "068d8c42-aa9e-463d-9b2a-d197b46abc31",
    "versionCounter": 64,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-05-27T16:43:03.887Z",
        "createdAt": "2026-05-27T16:43:03.887Z",
        "role": "workflow:owner",
        "workflowId": "5BQIeZaLxyjhQGxX",
        "projectId": "RwpeRMzIhFZ2HYrM",
        "project": {
          "updatedAt": "2026-05-08T03:44:54.310Z",
          "createdAt": "2026-05-08T03:43:17.601Z",
          "id": "RwpeRMzIhFZ2HYrM",
          "name": "Lin Desiang <hiyanzis@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "c91f10d0-2931-4f89-ab6b-40099af9dc76"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]
